@font-face
{ 
	font-family: "pictonic";
	src: url("../font/pictonic.eot");
	src: url("../font/pictonic.eot?#iefix") format("eot");
	src: local("☺"),
	url("../font/pictonic.woff") format("woff"),
	url("../font/pictonic.ttf") format("truetype"),
	url("../font/pictonic.svg") format("svg");
	font-weight: normal; font-style: normal;
}
 
[class^="icon-"], [class*=" icon-"] {
	font-family:"pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
 
a[class^="icon-"], a[class*=" icon-"], span[class^="icon-"], span[class*=" icon-"], small[class^="icon-"], small[class*=" icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.icon-cldownload:before { content:"\e001"; }