::selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

::-moz-selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

::-webkit-selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

body {
	font-family:		"DejaVu Sans", "Lucida Sans", "sans-serif" Arial;
	font-size:			18px;
	line-height:		2;
	background-color:	#CDCDCD;
	color:				#010101;
}

div.header {
	font-family:		"Helvetica", Arial;
	font-size:			36px;
	background-color:	#EFEFEF;
	color:				#232323;
	padding-left:		10px;
}

div.container {
	width:				80%;
	background-color:	#FFFEEE;
}

div.footer {
	text-align:			right;
	font-size:			9px;
	color:				#BCBCBC;
}

pre {
	font-family:		"DejaVu Sans Mono", "Monaco", monospace;
	font-size:			12px;
	line-height: 		1;
}