::selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

::-moz-selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

::-webkit-selection {
	background:			#1cc644;
	color:				#FFFFFF;
}

body {
	font-family:		"DejaVu Sans", "Lucida Sans", "sans-serif" Arial;
	font-size:			16px;
	line-height:		2;
	background-color:	#CDCDCD;
	color:				#010101;
}

.header {
	font-family:		"Helvetica", Arial;
	font-size:			32px;
	background-color:	#EFEFEF;
	color:				#232323;
}

.container {
	width:				80%;
	background-color:	#FFFEEE;
}

.footer {
	text-align:			right;
	font-size:			50%;
	color:				#BCBCBC;
}

pre {
	font-family:		"DejaVu Sans Mono", "Monaco", monospace;
	font-size:			12px;
	line-height: 		1;
}