::selection {
    background:             #1CC644;
    color:                  #FFFFFF;
}

::-moz-selection {
    background:             #1CC644;
    color:                  #FFFFFF;
}

::-webkit-selection {
    background:             #1CC644;
    color:                  #FFFFFF;
}

@font-face {
    font-family:            "pictonic";
    src:                    url("/static/font/pictonic.eot");
    src:                    url("/static/font/pictonic.eot?#iefix") format("eot");
    src:                    local("☺"),
    url("/static/font/pictonic.woff") format("woff"),
    url("/static/font/pictonic.ttf") format("truetype"),
    url("/static/font/pictonic.svg") format("svg");
    font-weight:            normal;
    font-style:             normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family:            "pictonic";
    font-weight:            normal;
    font-style:             normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing:    antialiased;
    font-smoothing:         antialiased;
}

a[class^="icon-"], a[class*=" icon-"], span[class^="icon-"], span[class*=" icon-"], small[class^="icon-"], small[class*=" icon-"] {
    display:                -moz-inline-stack;
    display:                inline-block;
    zoom:                   1;
    *display:               inline;
}

.icon-cldownload:before { content:"\e001"; }

body {
    font-family:            "DejaVu Sans", "Lucida Sans", "sans-serif" Arial;
    font-size:              18px;
    line-height:            2;
    background-color:       #EFEFEF;
    color:                  #010101;
    text-align:             center;
}

div.header {
    font-family:            "Helvetica", Arial;
    font-size:              36px;
    background-color:       #EFEFEF;
    color:                  #232323;
    padding-left:           27px;
    text-align:             left;
    margin-top:             27px;
    margin-left:            auto;
    margin-right:           auto;
    width:                  60%;
}

div.container {
    text-align:             left;
    margin-top:             27px;
    margin-left:            auto;
    margin-right:           auto;
    padding-left:           27px;
    padding-bottom:         27px;
    width:                  60%;
    background-color:       #EFEFEF;
}

div.footer {
    text-align:             right;
    margin-left:            auto;
    margin-right:           auto;
    width:                  60%;
    font-size:              9px;
    color:                  #BCBCBC;
}

div.mtrWindow {
    margin-left:            auto;
    margin-right:           auto;
    width:                  85%;
}

div.cLine {
    font-family:            "Monaco", "DejaVu Sans Mono", consolas, monospace;
    text-align:             left;
    margin-left:            auto;
    margin-right:           auto;
    width:                  80%;
    font-size:              12px;
    line-height:            1.6;
    padding-left:           27px;
    background-color:       #CDCDCD;

    box-shadow:             inset 0px 0px 2px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:        inset 0px 0px 2px 1px rgba(0, 0, 0, 0.45);
    -khtml-box-shadow:      inset 0px 0px 2px 1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow:     inset 0px 0px 2px 1px rgba(0, 0, 0, 0.45);
}

table.buildTable {
    font-family:            "Monaco", "Droid Sans Mono", "DejaVu Sans Mono", consolas, monospace;
    border:                 2px single black;
    padding:                5px;
    text-align:             left;
    margin-left:            auto;
    margin-right:           auto;
}

th.os {
    border:                 1px single black;
    width:                  20%;
}

th.ver {
    border:                 1px single black;
    width:                  15%;
}

th.md5 {
    border:                 1px single black;
    width:                  50%;
}

th.dl {
    border:                 1px single black;
    width:                  15%;
}

.mtrWindowForm {
    text-align:             center;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:             5px;
    margin-bottom:          5px;
}

#hideButton {
    display:                none;
}

pre {
    font-family:            "DejaVu Sans Mono", "Monaco", consolas, monospace;
    font-size:              12px;
    line-height:            1;
}

a {
    color:                  #777777;
    text-decoration:        none;
}

a:hover {
    color:                  #1CC644;
    text-decoration:        none;
}

a:visited {
    color:                  #222222;
    text-decoration:        none;
}
