<html>
    <head>
        <title>mtr</title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    </head>
    <body>

        <div class="header">
            <h1>mtr</h1>
        </div>

        <div class="container">

            <h2>See what MTR does:</h2>

            <div class="mtrWindow"><p>Loading...</p></div>

            <div class="mtrWindowForm">
                <fieldset>
                    <form class="mtrForm" action="/reqForm" id="mtrForm">
                        <label class="formLabel" for="remoteTarget">Enter an IP address or hostname: </label><input type="text" name="remoteTarget" placeholder="google.com | 8.8.8.8 | 2001:4860:4860::8888" id="hostName"> <input type="submit" value="DOIT" id="mtrFormDOIT"> <button id="hideButton">Hide</button>
                    </form>
                </fieldset>
            </div>

        </div>

        <div class="footer">
            &copy; 2013 <a href="http://burrito.sh">Jon Chen</a> |
            Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="www.flaticon.com/free-icon/cloud-with-arrow-pointing-down-ios-7-interface-symbol_16880" title="Flaticon">www.flaticon.com</a>
        </div>

        <script src="/static/js/mtrframe.js" type="text/javascript"></script>

    </body>
</html>

